<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
body {
	
	background-image: url(https://pbs.twimg.com/media/Cx-VH2XUkAA1m1B.jpg);
}
h1{
	color: #000000;
	text-align: center;
	font-family: 'Bookman';
	font-size: 50px;
}
h2{
	color: #000000;
	text-align: center;
	font-family: 'Bookman';
	font-size: 30px;
}
img {
	display: block;
	margin: 0 auto;
}
.boxed {
	background-color: lightgreen;
	border: 5px solid green;
	position: absolute;
    top: 80px;
    right: 300px;
    left: 300px;
	padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
</style>
</head>
<body>
<div class = "boxed">
<h1> Hello and welcome to this lame website about me! JK </h1>

<table style="width:100%; text-align: center"; bgcolor="#00FF00">
  <tr>
    <th id="name">Name</th>
    <th id="home">Hometown</th>
    <th id="year">Year</th>
    <th id="fact">Fun Fact</th>
    <th id="reason">Most Excited For?</th>
  </tr>
  <tr>
    <td headers="name">Daniel Vazquez</td>
    <td headers="home">Carson, CA</td>
    <td headers="year">Junior</td>
    <td headers="fact">Broke my arm before</td>
    <td headers="reason">To not fuck up with my lame CS skills</td>
  </tr>
</table>
<h2> Itsa ME! </h2>
<img src="/assets/photo.jpg" alt="Berkeley Project" style="width:304px;height:228px;">
</div>
</body>
</html>
